<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="author" content="justburrow" th:remove="all"/>
  <meta name="since" content="2017. 5. 28." th:remove="all"/>
  <meta name="project" content="web-request-reflector" th:remove="all"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <title>Request Data</title>
</head>
<body>
<div class="container">
  <h1>Request data</h1>
  <h2>Summary</h2>
  <!--/*@thymesVar id="method" type="java.lang.String"*/-->
  <!--/*@thymesVar id="url" type="java.net.URL"*/-->
  <dl class="dl-horizontal">
    <dt>Request Method</dt>
    <dd th:text="${method}">request method</dd>
    <dt>URL</dt>
    <dd th:text="${url}">url</dd>
  </dl>
</div>
</body>
</html>
